 body {
     background-color: lightgray;
     font-family: Verdana, Arial, sans-serif;
     font-size: 12px;
     font-weight: normal;
 }

 h1 {
     color: blue;
     background-color: yellow;
     font-size: 24px;
     font-weight: bold;
     border: 1px solid black;
     padding: 10px 20px 5px 40px;
     text-align: left;

 }

 table {
     border: 1px solid black;
     border-collapse: collapse;     
 }

 th, td {
     padding: 5px;
     text-align: center;
 }



 /* 
                            .primeiro-paragrafo {
                                color: yellow;
                                background-color: blue  ;
                            }
                            .segundo-paragrafo {
                                color: white;
                                background-color: black;
                            }
                            #ifam {
                                color: red;
                            }
                            */